.container{

}

ul{
list-style: georgian;
text-indent: 50px;
}

.border-radius{
border: red solid 17px;
width: 50px;
height: 50px;
border-radius: 100%;
}

.border-image{
padding: 50px;
width: 240px;
height: 120px;
position: relative;
left: 25px;
padding: 50px;
}

.wordwrap{
width: 80px;
overflow-wrap: break-word;
background: lightblue;
color: yellow;
}
.gradient{
width: 300px;
height: 300px;
background-color: green;
background: repeating-radial-gradient(rgba(255,255,255,0), blue 30%);
background: -0-repeating-radial-gradient(rgba(255,255,255,0), blue 30%);
border-width: 20%;
border-style: solid;
}

.class{
transition: height 2s, width 5s, transform 5s;
}

.class:hover{
transform: rotate(900deg);
background-color: purple;
}

.img-0{
height: 200px;
width: 200px;
opacity: 1;
}

.img-0-half{
height: 200px;
width: 200px;
opacity: .5;
}

.img-0-quart{
height: 200px;
width: 200px;
opacity: .25;
}

.block{
width: 140px;
height: 200px;
border-style: dotted;
overflow-y: scroll;
}
<<<<<<< HEAD

.align1{
text-align: left;
}

.align2{
text-align: right;
}

.resize{
width: 300px;
height: 300px;
background-color: blue;
overflow: auto;
resize: both;
}

{

}
=======
>>>>>>> origin/htmlfile
